/* {
	border: 1px solid black;
}*/

body {
  margin-bottom: 50px;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
}
label {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	color: #777777;
}
input, textarea {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}
.icon{
	display: block;
	position: relative;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}
.about-me-padding{
}
.my-headers{
	font-size: 1.75em;
}
.panel-title {
	color: #4aaaa5;
}
.portfolio-image {
	display: block;
	position: relative;
	z-index: 2;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 90%;
}
.project-label {
	position: absolute;
	z-index: 3;
	margin-left:5%;
	width: 90%;
	height: 30px;
	bottom: 10px;
	color: white;
	border: none;
	background-color: #4aaaa5;
	text-align: center;
}
.contactForm {
	width:100%;
	margin-top:10px;
}
.panelMarginAdjust {
	margin-top: 15px;
}
#content-section {
	padding: 0;
}
#personalImage{
	margin-top: 5px;
	padding: 10px 10px 10px 10px;
	width: 150px;
	height: 150px;
}
#navbar-menu-marginfix{
	margin-right: 50px;
}
#aboutmetext {
	margin-top: 15px;
}
#minombre {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
	background-color: #4aaaa5;
	font-weight: bold;
	margin-left: 0;
}
#adjustminombre {
	margin-left: 15px;
}
#footertext {
	text-align: center;
	float: none;
	color: white;
	margin-top: 5px;
	margin-bottom: 5px;
}
#footerColor{
	background-color: #666666;
}
#footerColorTeal{
	height: 10px;
	background-color: #4aaaa5;
}
#bodyforimage{
	background-image: url("../images/seigaiha.png")
}
#navbarmarginadjust{
	margin-bottom: 0;
}
#submitButton {
	color: white;
	background-color: #4aaaa5;
	font-size: 16px;
	width: 100px;
	height: 30px;
	border: none;
}

